<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aquarapid.app">


    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.activity.LoginActivity"
            android:label="@string/Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.activity.InitActivity"
            android:label="@string/title_activity_init"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.activity.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.activity.AdminActivity"
            android:label="@string/title_activity_admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.activity.AcercaActivity"
            android:label="@string/title_activity_acerca"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.activity.ProductActivity"
            android:label="@string/title_activity_product"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.activity.CarroActivity"
            android:label="@string/title_activity_carro"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>